name: 'test'

on:
    push:
    pull_request:
    schedule:
      - cron: '0 15 * * *'

env:
  CI: true

jobs:

  lin:
    strategy:
        fail-fast: false
        max-parallel: 3
        matrix:
          task: [
            vhpidirect/quickstart/random,
            vhpidirect/quickstart/math,
            vhpidirect/quickstart/customc,
            vhpidirect/quickstart/package,
            vhpidirect/quickstart/sharedvar,
            vhpidirect/wrapping/basic,
            vhpidirect/wrapping/time,
            vhpidirect/linking/bind,
            vhpidirect/shared/shlib,
            vhpidirect/shared/dlopen,
            vhpidirect/shared/shghdl,
            vhpidirect/arrays/intvector,
            vhpidirect/arrays/logicvector,
            vhpidirect/arrays/matrices,
            vpi/quickstart/helloworld,
            vpi/quickstart/begin_end,
            vpi/quickstart/access,
            vpi/quickstart/access_port,
            vpi/quickstart/timestep,
            vpi/list
          ]
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      DOCKER_IMAGE: ghdl/ghdl:buster-llvm-7
    steps:
    - uses: actions/checkout@v2
    - run: docker pull $DOCKER_IMAGE
    - run: docker run --rm -tv $(pwd):/src -e CI $DOCKER_IMAGE /src/${{ matrix.task}}/run.sh

  vunit:
    strategy:
        fail-fast: false
        max-parallel: 3
        matrix:
          task: [
            vhpidirect/arrays/matrices/vunit_axis_vcs,
          ]
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      DOCKER_IMAGE: ghdl/vunit:llvm
    steps:
    - uses: actions/checkout@v2
    - run: docker pull $DOCKER_IMAGE
    - run: docker run --rm -tv $(pwd):/src -w /src/${{ matrix.task}} -e CI $DOCKER_IMAGE python3 run.py -v

  win:
    strategy:
        fail-fast: false
        max-parallel: 3
        matrix:
          task: [
            vhpidirect/quickstart/random,
            vhpidirect/quickstart/math,
            vhpidirect/quickstart/customc,
            vhpidirect/quickstart/package,
            vhpidirect/quickstart/sharedvar,
            vhpidirect/wrapping/basic,
            vhpidirect/wrapping/time,
            #vhpidirect/linking/bind,  ! needs investigation, output of list-link seems to have wrong path format
            vhpidirect/shared/shlib,
            #vhpidirect/shared/dlopen, ! dlfcn.h is not available on win
            #vhpidirect/shared/shghdl, ! dlfcn.h is not available on win
            vhpidirect/arrays/intvector,
            vhpidirect/arrays/logicvector,
            vhpidirect/arrays/matrices
            vpi/quickstart/helloworld, 
            vpi/quickstart/begin_end,  
            vpi/quickstart/access,     
            vpi/quickstart/access_port,     
            vpi/quickstart/timestep,   
            vpi/list                   
          ]
    runs-on: windows-latest
    env:
      WINDOWS_RELEASE: 0.37-mingw64-llvm
    steps:
    - uses: actions/checkout@v2
    - shell: bash
      run: |
        curl -fsSL -o ghdl.zip https://github.com/ghdl/ghdl/releases/download/v0.37/ghdl-${WINDOWS_RELEASE}.zip
        7z x ghdl.zip "-o../ghdl-tmp" -y
        mv ../ghdl-tmp/GHDL/${WINDOWS_RELEASE}/ ../ghdl
        rm -rf ../ghdl-tmp ghdl.zip
        export PATH=$PATH:$(pwd)/../ghdl/bin
        ./${{ matrix.task}}/run.sh
